body{
background-color: lavender;
}
header{
    display: block;
text-align:center;
padding-top: 5px;
font-size: 25px;
color: white;
top: 10px;
background-color:black;
height: 300px;
}
img{
float: left;    
width: 300px;
height: 200px;  
margin-left: 10px;
margin-top: 50px;
margin-right: -300px;

}
#navbar {
    margin-left: 0px;
    padding: 0;
}
#navbar li { 
    display: inline;
}
#navbar {
    margin-left: 430px;
    padding: 0;
    list-style-type: none;
    border-radius: 20px 5px;
    width: 500px;
    text-align:center;
    background-color: rgb(207, 204, 204);
    margin-top: 100px;
}
#navbar a {
    color:black;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    width: 100px;
}
#navbar a:hover {
    border-radius: 20px 5px;
    background-color:white;
}